body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-cls td {
  padding: 15px;
  background-color:green;
  
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.grid-title {
  background-color: green;
  color: #FFFFFF;
  padding: 10px;
  text-align: left;
}
.grid-table {
  width: 99%;
  border: 1px solid #ccc;
  margin-left: 5px;
}
.grid-headers td {
  font-weight: 700;
  padding: 5px;
  background-color: #ccaee8;
}
.grid-data td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.ams-btn-active {
  background-color: blueviolet;
  color: #FFFFFF;
  padding: 10px;
  border: 1px solid #FFFFFF;
}
.ams-btn-inactive {
  background-color: rgb(244, 42, 42);
  color: #FFFFFF;
  padding: 10px;
  border: 1px solid #FFFFFF;
  margin-left: 5px;
}
.linkDisabled {
  text-decoration: none;
}
.linkEnabled {
  text-decoration: underline;
  cursor: pointer;
}
.close-message-icon {
    float: right;
    border-radius: 21px;
    border: 2px solid white;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}
.ams-logo {
    float: left;
    font-size: 3em;
    font-family: fantasy;
    color: blueviolet;
    padding: 0px 10px;
}
.ams-logo-subtitle {
  float: left;
}
.pagination-td {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #ccaee8;
  padding-left: 5px;
}
.pagination-td .left{
  width: 80%;
  float: left;
}
.pagination-td .right{
  float: left;
}
.jump-page {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.change-page {
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 14px;
}
.ams-input-cmp .input-label {
  float: left;
  margin-right: 6px;
}
.ams-input-cmp input {
  padding: 5px;
}
.ams-required {
  color: red;
  font-size: 20px;
}
.ams-required-error {
  color: red;
  font-size: 20px;
  margin-left: 5px;
}